.container
{
    margin-top: 20px;
    margin-bottom: 20px;
}
.product
{
    padding: 5px;    
}
.product div
{
    text-align: center;
    border: 1px solid grey;
    padding-bottom: 20px;
}
.clr
{
    clear: both;
}
.height-10
{
    height: 20px;
}
.height-20
{
    height: 20px;
}
.alert
{
    margin-bottom: 10px;
}